<%= form_with(model: chatroom, local: true) do |form| %>
  <% if chatroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chatroom.errors.count, "error") %> prohibited this chatroom from being saved:</h2>

      <ul>
      <% chatroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="form-group">
      <%= form.text_field :name, id: :chatroom_name, class: 'form-control', placeholder: 'Chatroom Name' %>
    </div>

    <div class="actions">
      <%= form.submit "Start Chatting", class: "btn btn-primary btn-block btn-lg" %>
    </div>
    <% end %>
  </div>
</div>
