
<div class="chatroom-show-container">

  <div class="chatroom-name-wrapper">
    <p>
      <h2 class="chatroom-name"><%= @chatroom.name %></h2>
    </p>
  </div>

  <div class="chatroom-messages" data-behavior="messages">
    <% @messages.each do |message| %>
      <%= render message %>
    <% end %>
  </div>     

  <%= form_for [@chatroom, Message.new], remote: true do |f| %>
    <%= f.text_field :body, rows: 1, autofocus: true %>
  <% end %>
</div>

<div class="back-button">
    <%= link_to 'Back', chatrooms_path %>
  </div>