<% if @users.present? %>  
  <h1 class="heading_user_page">Users</h1>

      <% @users.each do |user| %>
      <div class="users_user_page">
          <li><%= user.fname %></li>
          <li><%= user.lname %></li>
          <li><%= user.username %></li>
          <li><%= user.password %></li>
          <li><%= image_tag user.photo.url(:medium) %></li>
          <li><%= user.position %></li>
          <li><%= link_to 'Show', user %> </li>
          <% if Friendship.find_by( user_id: @current_user_id, amigo_id: user.id) %>
            <li><%= link_to 'Add Friend', user_friendships_path(user), method: :post %></li>
          <% end %>
          <% if user == current_user %>
            <li><%= link_to 'Edit', edit_user_path(user) %></li>
            <li><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          <% end %>
      </div>
<% end %>

<% else %>
  <h1>There are no users containing the term(s) <%= params[:search] %>.</h1>
<% end %>

