<div class="friendship_page" style="width: 700px; margin: auto; text-align: center;">
	<div class="search_for_friends">
		<h3>Search for Your Friends</h3>
		<%= form_tag(users_path, :method => "get", id: "search-form") do %>
		    <%= text_field_tag :search, params[:search], placeholder: "Search Friends" %>
		    <%= submit_tag "Search", :name => nil %>
		<% end %>
	</div>

	<p id="notice"><%= notice %></p>

	<h1>Your Are Friends With</h1>

	<% @user.friends.each do |friend| %>
			<li><%= link_to friend.full_name, friend%></li>
	<% end %>
</div>



