

<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="display: block; padding: 20px; text-align: center;">
    <span style="display: block;"><%= form.label :message %></span>
    <%= form.text_field :message, id: :post_message %>
  </div>

  <div class="field" style="display: block; padding: 20px;">
    <%= form.label :photo %>
    <span style="margin: 0px auto 0px auto;"><%= form.file_field :photo, id: :post_photo %></span>
  </div>

  <div class="actions" >
    <%= form.submit %>
  </div>
<% end %>





