<!DOCTYPE html>
<html>
  <head>
    <title>Narcos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'home/nav' %>
    <div class="chatroom-wrapper">
      <div class="left-col-wrapper">
        <div class="left-content">    

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="fluid-container">
      <div class="row">
        <div class="col-sm-2"> 
          <% if user_signed_in? %>
          <h5>Your Chatrooms:</h5>
          <ul>
            <% current_user.chatrooms.each do |chatroom| %>
              <li><%= link_to chatroom.name, chatroom %></li>
            <% end %>
          </ul>
          <% end %>
<<<<<<< HEAD
        </div>
      </div>         
      <div class="right-col-wrapper">
        <%= yield %>
=======
>>>>>>> ca9d389f4ce6382dbbabcb0cd280c15e221566ca
      </div>
    </div>
  </body>
</html>