<!DOCTYPE html>
<html>
  <head>
    <title>Narcos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="fluid-container">
      <div class="row">
        <div class="col-sm-2"> 
          <% if user_signed_in? %>
            <h5>Chatroom</h5>
            <ul>
              <% current_user.chatrooms.each do |chatroom| %>
                <%= link_to chatroom.name, chatroom %>
              <% end %>
            </ul>
          <% end %>
      </div>
    </div>

  </body>
</html>